<header>
  <nav class="nav-menu">
    <!-- <a href="#"><img src="/Angular/notes-project/img/logo.png" alt="logo site"/></a> -->
    <ul>
      <li class="btn">
        <a routerLink="/">Paramètres</a>
      </li>
      <li class="btn">
        <a routerLink="/">Étiquette</a>
      </li>
      <li class="btn">
        <a routerLink="/">Accueil</a>
      </li>
    </ul>
  </nav>
</header>

<main class="main">
  <router-outlet></router-outlet>
</main>

<footer>
  <ul class="no-list">
    <li class="btnD">
      <a href="#">Conditions générales</a>
    </li>
    <li>
      copyright 2025
    </li>
  </ul>
</footer>